body {
	background-color: #6699FF;
}

header {
	text-align: center;
	color: white;
	height: 50px;
	width: 100%;
	background-color: black;
}

h2 {
	margin-bottom: 0px;
	margin-top: 0px;
}

a {
	text-decoration: none;
	color: red;
}

#listSingle, #listDouble {
	list-style-type: none;
}

table {
	border-collapse: collapse;
	width: 100%;
}

tr {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.img_index {
	width: 225px;
	height: 225px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.img_extras {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.pointleftbutton {
	display: inline;
	float: left;
	margin-left: 3em;
}

.pointrightbutton {
	display: inline;
	float: right;
	margin-right: 3em;
}

#acciones {
	padding-top: 5em;
}

#equipo1, #equipo1Doubles {
	background-color: #cc0000;
}

#equipo2, #equipo2Doubles {
	background-color: #6699ff;
}

#team1_score, #team1_scoreDoubles {
	color: red;
	display: inline-block;
	float: left;
	margin-left: 3em;
}

#team2_score, #team2_scoreDoubles {
	color: blue;
	display: inline-block;
	float: right;
	margin-right: 3em;
}

#player1_name, #player3_name, #player1_nameDoubles, #player3_nameDoubles {
	display: inline;
	float: left;
	margin-left: 5px;
}

#player2_name, #player4_name, #player2_nameDoubles, #player4_nameDoubles {
	display: inline;
	float: right;
	margin-right: 5px;
}

#equipo1, #equipo2, #equipo1Doubles, #equipo2Doubles {
	width: 85%;
	height: 25%;
	border: 3px solid black;
}

#mesa {
	height: 75%;
	background-image: url("../img/table.png");
	background-repeat:no-repeat;
	background-size: 100% 100%;
}

.ui-input-text {
  border: none;
}